{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "sorData": true,
    "filterBy": true,
    "Pokemon": false,
    "example": false
  },
  "rules": {
    "no-console": 0,
    "semi": 2,
  }
}
