@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}

@import url('https://fonts.googleapis.com/css?family=Rubik+One');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://i.pinimg.com/originals/06/13/ac/0613acffc0bdd31279bd4b842dd3c9d2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #5bd1d7;
    background-size: contain;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.hide {
    visibility: hidden;
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
    body {
        background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3f64162d-4e41-40d2-be0f-5be0535ec904/d5wl1j0-b0a1b5d6-6448-4147-85a6-32241e6aa6dd.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNmNjQxNjJkLTRlNDEtNDBkMi1iZTBmLTViZTA1MzVlYzkwNFwvZDV3bDFqMC1iMGExYjVkNi02NDQ4LTQxNDctODVhNi0zMjI0MWU2YWE2ZGQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.WA47TJu4o-kmyaYO8J0-f-YAMjxJJt7ASvdvJ50zJkA');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
    }
    a.button2 {
        display: block;
    }
    a.button2:hover {
        color: #ffffff;
        background-color: rgb(253, 237, 6);
    }
    #main-header {
        color: rgb(255, 255, 255);
        height: 100px;
    }
    #main-header a {
        color: rgb(250, 250, 250);
    }
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    #instructions {
        animation: bounce 2s infinite 2s;
        margin: 100px auto;
        padding-bottom: 50px;
        background-color: rgba(255, 255, 255, 0.95);
        border: 2px solid;
        padding: 10px;
        border-radius: 50px 20px;
        color: black;
        width: 200px;
        font-family: 'Slabo 27px', serif;
        text-align: justify;
        position: absolute;
        top: 10%;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    #instructions p {
        color: black;
        text-align: left;
        width: 200px;
        margin: 0 auto;
        font-size: 24px;
    }
}


/* Comment


#help-button {
    color: black;
    background-color: transparent;
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    border-radius: 100%;
    padding: 2px 15px;
    border: none;
    cursor: pointer;
}
 */

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}


/* Instrucciones */

#close {
    background-color: transparent;
    float: right;
    border: none;
    font-size: 12px;
    margin-right: 30px;
    margin-top: 10px;
}

#close:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.5);
    font-size: 12px;
    border-radius: 20px;
}

#instructions {
    animation: bounce 2s infinite 2s;
    background-color: rgba(255, 255, 255, 0.95);
    margin: 100px auto;
    padding-bottom: 50px;
    border: 2px solid;
    padding-bottom: 50px;
    border-radius: 50px 20px;
    color: rgb(2, 2, 2);
    width: 780px;
    font-family: 'Slabo 27px', serif;
    text-align: center;
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    margin: 0 auto;
}

#instructions p {
    color: black;
    text-align: left;
    width: 700px;
    margin: 0 auto;
    font-size: 24px;
}


/*
 * Cards
 */

.dataPokemon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;
    overflow: scroll;
    background-color: #00B3CC;
    /* align-items: space-between;
   justify-items: space-between; */
}

.Pokedex,
.dataPokemon {
    background-color: rgb(175, 174, 209);
    /*margin: auto; Comment */
    align-items: center;
    border: #22e0ff 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4rem;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    border: 1px rgba(204, 204, 204, 1) solid;
    padding: 2rem 0;
    border-radius: 1rem;
    -webkit-box-shadow: -9px 10px 5px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: -9px 10px 5px 0px rgba(0, 0, 0, 0.11);
    box-shadow: -9px 10px 5px 0px rgba(0, 0, 0, 0.11);
    background-color: #606898;
}

.info {
    max-width: 50%;
    text-align: center;
    Font-Family: 'Oxygen', Sans-Serif;
    font-weight: bold;
}

.character-name {
    font-weight: 600;
    Font-Family: 'Oxygen', Sans-Serif;
    font-weight: bold;
}

.character-img {
    display: flex;
    width: 30%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    scroll-behavior: smooth;
}

.container .card {
    width: 300px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(167, 17, 208);
}

.container .card img {
    width: 210px;
    height: 220px;
    border-color: #22e0ff;
}

.container .card h4 {
    font-weight: 600;
    font-weight: bold;
}

.container .card p {
    padding: 0 1rem;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    font-weight: bold;
    text-align: center;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}


/* menu */

#colorNav>ul {
    width: 450px;
    margin: 0 auto;
}

#colorNav>ul>li {
    /* will style only the top level li */
    list-style: none;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset, 1px 1px 1px #CCC;
    display: inline-block;
    line-height: 1;
    margin: 1px;
    border-radius: 3px;
    position: relative;
}

#colorNav>ul>li>a {
    color: inherit;
    text-decoration: none !important;
    font-size: 24px;
    padding: 25px;
}

#colorNav li ul {
    position: absolute;
    list-style: none;
    text-align: center;
    width: 180px;
    left: 50%;
    margin-left: -90px;
    top: 70px;
    font: bold 12px 'Open Sans Condensed', sans-serif;
    /* This is important for the show/hide CSS animation */
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 0.4s linear;
    -moz-transition: max-height 0.4s linear;
    transition: max-height 0.4s linear;
}

#colorNav li:hover ul {
    max-height: 200px;
}

#colorNav li ul li {
    background-color: #313131;
}

#colorNav li ul li a {
    padding: 12px;
    color: #fff !important;
    text-decoration: none !important;
    display: block;
}

#colorNav li ul li:nth-child(odd) {
    /* zebra stripes */
    background-color: #363636;
}

#colorNav li ul li:hover {
    background-color: #444;
}

#colorNav li ul li:first-child {
    border-radius: 3px 3px 0 0;
    margin-top: 25px;
    position: relative;
}

#colorNav li ul li:first-child:before {
    /* the pointer tip */
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-color: #313131;
    left: 50%;
    top: -10px;
    margin-left: -5px;
}

#colorNav li ul li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#colorNav li.green {
    /* This is the color of the menu item */
    background-color: #00c08b;
    /* This is the color of the icon */
    color: #127a5d;
}

#colorNav li.red {
    background-color: #ea5080;
    color: #aa2a52;
}

#colorNav li.blue {
    background-color: #53bfe2;
    color: #2884a2;
}

#colorNav li.yellow {
    background-color: #f8c54d;
    color: #ab8426;
}

#colorNav li.purple {
    background-color: #df6dc2;
    color: #9f3c85;
}


/* navegacion */

body {
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #348498;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    Font-Family: 'Oxygen', Sans-Serif;
}

ul.topnav li a:hover:not(.active) {
    background-color: #67eaca;
}

ul.topnav li a.active {
    background-color: #8f71ff;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}